<!doctype html>
<html lang="<%= site.locale %>">
  <head>
    <%= render "head", metadata: site.metadata, title: data.title %>
  </head>
  <body>
    <a href="#main" class="skip">Skip to main content</a>

    <% if data.title != "home" %>
      <%= render "header" %>
    <% end %>

    <main id="main">
      <%= yield %>
    </main>

    <% if data.title == "home" %>
      <%= render "footer", metadata: site.metadata %>
    <% end %>
  </body>
</html>
